.c-dog-list {
  display: flex;
  flex-direction: column;
}

.c-dog-list__header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 10px;
}

.c-dog-list__body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.c-dog-list__footer {
  display: flex;
  justify-content: flex-end;
  margin: 40px;
}

.c-link {
  font-size: 20px;
}

.c-responsive-image {
  width: 300px;
  height: 300px;
  margin: 10px;
}
